################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Strona.slnx/FileContentIndex/3268b30b-2bd2-4349-ba6f-2500f6dbd5cd.vsidx
/.vs/Strona.slnx/FileContentIndex
/.vs
